html,body{
  height:100%;
  width:100%;
  font-size: 100%;
}

body{
  background:silver;
  padding:2%;
  font-family: 'Patua One', cursive;
  font-size:1em;
}

div{
  width: 500px;
  max-width:80%;
  padding:1em;
  background:silver;
  border:1px solid #ccc;
  background:#fff;
}

h1{
    font-family: "quatro-slab", serif;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    color: midnightblue;
}
img{
  max-width:100%;
  height:auto;
}